<div class="contacts">
    <h3 class="contacts__title">
        contacts info
    </h3>
    <p class="contacts__paragraph">
        Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh
    </p>
    <p class="contacts__paragraph">
        <a href="mailto: redwan@deviserweb.com" class="contacts__link"></a>
        redwan@deviserweb.com
    </p>
    <p class="contacts__paragraph">
        <a href="tel: +8801761746373" class="contacts__link">
            (+88) 017 617 46373
        </a>
    </p>
</div>