$base-font: 'Open Sans', sans-serif;
$headline-size: 46;

$primary: #fff;
$secondary: rgb(49, 48, 48);
$accent: #ff2d2d;
$accent-hover: #bb2828;

$primary-text: #000;
$secondary-text: #fff;

$success: green;
$warning: yellow;
$danger: red;