<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="portfolio__title">feature products</h2>
        <p class="portfolio__sub-title">Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.</p>
        <nav class="portfolio__nav">
            <ul class="portfolio__nav-list">
                <li class="portfolio__nav-item"><button class="portfolio__nav-btn">all</button></li>
                <li class="portfolio__nav-item"><button class="portfolio__nav-btn">print template</button></li>
                <li class="portfolio__nav-item"><button class="portfolio__nav-btn">web template</button></li>
                <li class="portfolio__nav-item"><button class="portfolio__nav-btn">user interface</button></li>
                <li class="portfolio__nav-item"><button class="portfolio__nav-btn">mock-up</button></li>
            </ul>
        </nav>
        <div class="portfolio__galery">
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
            <div class="team__image--wrapper"><img src="#" alt="#" class="portfolio__galery-item"></div>
        </div>
    </div>
</section>