<section class="subscribe">
    <div class="container">
        <h2 class="subscribe__title">Design tips, tricks, and freebies. Delivered weekly.</h2>
        <p class="subscribe__sub-title">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.
        </p>
        <form action="#" class="subscribe__form" method="get">
            <input type="email" id="subscribe__e-mail" class="subscribe__input" placeholder="Email Adress..." required>
            <button class="subscribe__btn btn">subcribe</button>
        </form>
    </div>
</section>