<footer class="footer">
    <div class="container">
        <p class="footer__description">
            © Copyright @Junaed 2016, All rights reserved.
        </p>
        <ul class="footer__socials-list">
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <i class="fab fa-twitter footer__socials-icon"></i>
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <i class="fab fa-linkedin-in footer__socials-icon"></i>
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <i class="fab fa-google-plus-g footer__socials-icon"></i>
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <i class="fab fa-facebook footer__socials-icon"></i>
            </a>
          </li>
        </ul>
      </div>
</footer>