<section class="feadback" id="contacts">
    <div class="container">
        <h2 class="feadback__title">get in tiuch</h2>
        <p class="feadback__sub-title">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        <div class="feadback__content">
            {% include 'components/Feadback/Form/form.html' %}
            {% include 'components/Feadback/Contacts/contacts.html' %}
        </div>
    </div>
</section>
        